snippet describe
# ----------------------------------------------------------------------
# Authors: Abhijit Das Gupta 
# Last updated: $1
# Description:
# $2
# ----------------------------------------------------------------------

endsnippet

snippet section
# $1 ----------------------------------------------------------------------

endsnippet


